# Django and extensions
django==4.2.11
djangorestframework==3.14.0
pytest==8.1.1
pytest-django==4.8.0
whitenoise
gunicorn
django-heroku
dj-database-url
psycopg2-binary
djangorestframework_simplejwt
django-storages
Pillow
boto3
python-decouple
django-imagekit
django-celery-beat
redis
celery
django-anymail
django-markdownx
better-profanity==0.7.0
django-model-utils==4.4.0
django-s3-file-field[s3]==1.0.1
django-cors-headers
django-push-notifications
exponent_server_sdk
django-redis==5.4.0
hiredis==2.3.2
newrelic
sentry-sdk[django]
# Translations
django-modeltrans>=0.8
# Tagging
django-taggit==5.0.1
# Drag-and-drop ordering in admin
django-admin-sortable2==2.2.1
# Map generation packages
matplotlib==3.10.1
shapely==2.0.7
geopandas==1.0.1
folium==0.14.0    # Alternative for interactive maps using leaflet.js
scikit-learn==1.5.0    # For DBSCAN clustering
# OpenAI
openai
anthropic
# Bible API
requests