{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:events_analytics' %}" class="fp-object-tool">
            {% include "admin/includes/icon.html" with name="users" %}
            <span>User Engagement</span>
        </a>
    </li>
    <li>
        <a href="{% url 'admin:events_app_analytics' %}" class="fp-object-tool">
            {% include "admin/includes/icon.html" with name="chart" %}
            <span>App Analytics</span>
        </a>
    </li>
    {{ block.super }}
{% endblock %}
