<div class="col-lg-4 col-md-6 col-sm-12 text-center">
    <div class="card mb-3" style="background-image: url('{{ fast.image }}'); background-size: cover;">
        <div class="card-body d-flex flex-column justify-content-center align-items-center text-white" style="background: rgba(0, 0, 0, 0.5);">
            <div id="button_holder" class="mt-5 pb-3">
                {% if fast.joined %}
                <button type="button" class="btn btn-light btn-pill rounded-pill" disabled>Joined!</button>
                {% else %}
                <form action="{% url 'add_fast_to_profile' fast.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light btn-pill rounded-pill">Join Fast</button>
                </form>
                {% endif %}
            </div>
            <div>
                <h5 class="card-title text-shadow fw-bold">{{ fast.name }}</h5>
                <p class="card-text font-weight-light">{{ fast.start_date|date:"F j"  }}</p>
                <span class="card-text font-weight-light preparing p-1 rounded">{{ fast.participant_count }} 
                    {{ fast.participant_count|pluralize:"person,people" }} {% if fast.has_passed %}fasted{% else %}preparing{% endif %}</span>
            </div>
            {% if fast.joined %}
            <div id="leave_button_holder" class="mt-3 pb-0">
                <form action="{% url 'remove_fast_from_profile' fast.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light btn-sm rounded-pill">Leave Fast</button>
                </form>
            </div>
            {% else %}
            <div class="mt-5"></div>
            {% endif %}
        </div>
    </div>
</div>