<div class="row">
    <div class="col-12">
      {% block footer %}
      <footer class="text-center mt-5">
        <!-- Footer content here -->
        <p>
          <a href="/hub/changelog/web/">Changelog</a> | 
          <a href="https://feedback.userreport.com/ece7381c-b3bd-4d71-aec9-3a99b09ca53d/" onclick="event.preventDefault(); _urq.push(['Feedback_Open'])">Feedback</a> 
          - Copyright St. John Armenian Church 2024
        </p>
      </footer>
      {% endblock %}
    </div>
  </div>